---
layout: page
title: Blog 
--- 
<!-- Replaces the dummy page at blog/index.html	 -->

<!-- Testing -->
<!-- <div>
{{paginator.per_page }} Number of posts per page.               <br/>
{{paginator.total_posts }}  Total number of posts.              <br/>
{{paginator.total_pages }}  Total number of pages               <br/>
{{paginator.page }} The number of the current page.             <br/>
{{paginator.previous_page }}  The number of the previous page.  <br/>
{{paginator.next_page }}  The number of the next page           <br/>
</div>                                                          <br/>   -->
{% assign posts = paginator.posts %}
{% include post-listing.html %}

<div class="next-prev-nav low-top">
	{% if paginator.previous_page %}
		&laquo;&nbsp;<a href="{%if  paginator.previous_page == 1 %} /blog {% else %} /page{{ paginator.previous_page }} {% endif %}" 
		rel="next" title="Previous Page">Previous Page</a>
	{% endif %}

	{% if paginator.previous_page %}
		{% if paginator.next_page %}
			|
		{% endif %}
	{% endif %}
	

	{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}" rel="previous" title="Next Page">Next Page</a>&nbsp;&raquo;
	{% endif %}

	<br />
</div>

