---
layout: default
title: Blog
---
<h1 class="large-bottom">Blog<a href="/feed" class="small quiet rss"><img src="/images/rss.png" alt="RSS" width=32 height=32 /></a></h1>

<div id="main-content">
	{% assign posts = paginator.posts %}
	{% include post-listing.html %}

	<div class="next-prev-nav low-top">
		{% if paginator.previous_page %}
			&laquo;&nbsp;<a href="{%if	paginator.previous_page == 1 %} /blog {% else %} /page{{ paginator.previous_page }} {% endif %}" 
			rel="next" title="Previous Page">Previous Page</a>
		{% endif %}

		{% if paginator.previous_page %}
			{% if paginator.next_page %}
				|
			{% endif %}
		{% endif %}
	

		{% if paginator.next_page %}
			<a href="/page{{ paginator.next_page }}" rel="previous" title="Next Page">Next Page</a>&nbsp;&raquo;
		{% endif %}

		<br />
	</div>  
</div>

