---
layout: default
no_sidebar: true
---

<h2 class="class-h1-5">Bilal Syed Hussain</h2>

<p class="large-para">Phasellus ullamcorper enim sit amet risus posuere non iaculis orci.</p>

<div class="home span-{% if page.no_sidebar %}8{% else %}5{% endif %}">
On the project page find the <a href='/projects'>open source project</a> that I have created.  The most recent include a <a href=''>application</a> to edit and auto tag audio files, a <a href=''>program</a> that can control itunes  from the command line and a <a href=''>script</a> to create method comments for Objective C. 
</div>

<div class="span-{% if page.no_sidebar %}8{% else %}5{% endif %}">
There also a <a href="/blog">blog</a> with a <a href='/fee'>RSS</a> feed that contains updates about my projects and also contains posts to do with technology.     
</div>

<div class="span-{% if page.no_sidebar %}8{% else %}5{% endif %} last">
3Morbi elit sapien, sodales ut placerat vel, hendrerit vel diam. Nulla aliquam enim nec f
</div>


<div class="span-{% if page.no_sidebar %}24{% else %}17{% endif %}">
	<h2 class="h1-5">Latest Posts</h2>

	{% assign posts = site.posts %}
	{% assign listing_limit = 3 %}
	{% include post-listing.html %}
</div>  