{% for post in posts limit: listing_limit %}
  <h2><a href="{{ post.url }}" class="dark-link">{{ post.title }}</a></h2>
  <h4 class="low-top">
    Posted on {{ post.date | format_date }}
    {% unless no_category %}
      {% if post.category %}
        in <a href="/categories/{{ post.category | slugize }}">{{ post.category }}</a>
      {% endif %}
    {% endunless %}
  </h4>
  
  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
  <p class><a href="{{ post.url }}">Read more...</a></p>
  {% if page.tags %}
    Tagged in
    {% for tag in page.tags %}
      <strong><a href="/tags/{{ tag | slugize }}">{{ tag }}</a></strong>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    <br />
  {% endif %}
{% endfor %}
