<div class="sharing">
	{% if site.twitter_tweet_button %}
	<a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
	{% endif %}
	{% if site.google_plus_one %}
	<div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
	<script type="text/javascript">
		(function() {
			var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
			script.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
		})();
	</script>
	{% endif %}	
	{% if site.facebook_like %}
		<div class="fb-like" data-send="true" data-width="400" data-show-faces="false"></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	{% endif %}
	{% if site.twitter_follow_button or site.twitter_tweet_button %}
		<script type="text/javascript">
			(function(){
				var twitterWidgets = document.createElement('script');
				twitterWidgets.type = 'text/javascript';
				twitterWidgets.async = true;
				twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
				document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
			})();
		</script>
	{% endif %}
	{% if page.iusethis %}
	<div id="usethis">
		<!-- {{page.iusethis}} -->
	</div>
	<script>
        $('div#usethis').html(writeCapture.sanitize('<scr'+'ipt type="text/javascript" src="http://osx.iusethis.com/app/include/{{page.iusethis}}/7"></scr'+'ipt>'));
    </script>
	<div class='clear'></div>
	{% endif %}
	
</div>
