<div id="sidebar" class="span-6 push-1 last">
	<div class="sidebar-module" id='gsearcher'>
				 
		<div id="searchcontrol">
			
		</div>
		
	</div>

	<div class="sidebar-module">
		<div class="title"><a href='/tags'>Tags</a></div>
		{% tag_cloud %}
	</div>

	<div class="sidebar-module">
		<div class="title"><a href='/categories'>Categories</a></div>
		{% category_list %}
	</div>
	
	<div class="sidebar-module">
		<div class="title"><a href='/archives'>Archives</a></div>
		{% monthly_archives %}
	</div>
</div>
