<div id="sidebar" class="span-6 push-1 last">
	<div class="sidebar-module">
				 
		<!-- <form id="search">
			<input type="text" id="query" name="query"/>
			<input type="submit" id="search-submit" value="Go" />
		</form> -->
		<div id="searchcontrol">
			
		</div>
		
	</div>

	<div class="sidebar-module">
		<div class="title"><a href='/tags'>Tags</a></div>
		{% tag_cloud %}
	</div>

	<div class="sidebar-module">
		<div class="title"><a href='/categories'>Categories</a></div>
		{% category_list %}
	</div>
	
	<div class="sidebar-module">
		<div class="title">Archives</div>
		{% monthly_archives %}
	</div>
</div>
