---
layout: default
no_sidebar: true
---

<style type="text/css">
h2	{ color: #335E8D;}     
.project-icon {margin-top: 20px; }
h2.title-feature {
	margin-left   : 3px;
	font-variant  : small-caps;
	font-weight   : normal;
	border-bottom : 1px dotted #ccc;  
}
img.pic{
	float:left; margin-top: 5px; margin-right: 15px; margin-bottom: 10px
}

</style>


<div class="span-{% if page.no_sidebar %}19{% else %}12{% endif %}">
	{% if page.icon %}
		<img src="{{ page.icon }}" class="project-icon" align="left"	width="64" height="64"> 
	{% endif %}	 
	<h1 class="project-title">{{ page.title }}</h1>
	<h3>{{ page.version }}</h3>

		<h3>
			{% if page.features %}
				<a href="readme">Readme &nbsp;</a>
			{% endif %}
			{% if page.changelog %}
				<a href="{{ page.changelog }}">Changelog</a>
			{% endif %}
		</h3>
</div>

<div class="project-links span-5 last">
	<a href="{{ page.download }}" class="project-download-link">
		<div class="project-download">Download</div>
	</a>
	
	<h3><a href="{{ page.repo }}">GitHub Repository</a></h3>
	
	{% if page.docs %}
		<h3><a href="{{ page.docs }}">Documentation</a></h3>
	{% endif %}
</div>

{{ content }}
